/* text */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-header-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* navigation */

nav{
    justify-content:space-between;
    display: flex;
    padding: 51px 150px;
   
    

}

nav h1{
    color:rgba(78, 71, 255, 1);
    font-weight: bold;

}
.btn{
    
    color: white;
    background-color: #4E47FF;
    border-radius: 15px;
    padding: 12px 36px;
    border: none;
    height:50px ;
    width:132px;
    font-weight: bold;
    cursor: pointer;
    
}
/* header */
.header{
  
  background-image: url("Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;


}
.header-title{
    text-align: center;
    padding: 0 auto;
    font-size: 50px;
    color: #252432;
    font-weight: bold;
 
}
.btn-header{
    color: white;
    background-color: #4E47FF;
    border-radius: 15px;
    border: none;
    height:50px ;
    width:160px;
    font-weight:500;
    padding:12px 36px ;
    text-align: center;
    cursor: pointer;
  
}
.banner{
    text-align: center;
}
.action-section{
    display: flex;
   justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap:200px;
    padding:100px 100px;
    margin:0 auto;


}
.Right-side img{
    border-radius: 48px;
    width: 100%;
    max-width: 403px;
    height: auto;
}

.left-side p{
       color: #252432;
       opacity: 0.7;
       max-width: 500px;
    
}


.btn-3{
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    height:50px ;
    width:220px;
    font-weight: bold;
    cursor:pointer;
}
.user-section{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    background-color:rgba(78, 71, 255, 0.1);
    width: 1140px;
    padding:10px 10px;
    margin:0 auto;
    border-radius: 35px;
    line-height: 1.2px;

  
    /* opacity: 0.1; */


}
.title h3{
    color:#252432;
    padding: 0 auto;
    margin:50px 142px;
    text-align: center;
    font-size:38px;
}


.subtitle{
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color:#4E47FF;
    font-size: 50px;
   
}
.main-subtitle{   
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.sub-p{
       background-color:rgba(78, 71, 255, 0.1);
       padding: 0 auto;


}